@font-face {
  font-family: 'Julia Mono';
  font-weight: normal;
  font-style: normal;
  src: url("/static/fonts/JuliaMono/JuliaMono-Regular.ttf");
}

@font-face {
  font-family: 'Better VCR';
  font-weight: normal;
  font-style: normal;
  src: url("/static/fonts/BetterVCR/better-vcr-5.2.ttf");
}

@font-face {
  font-family: 'Blazma';
  font-weight: normal;
  font-style: normal;
  src: url("/static/fonts/Blazma/Blazma-Regular.woff");
}

@font-face {
  font-family: 'Blazma';
  font-weight: normal;
  font-style: italic;
  src: url("/static/fonts/Blazma/Blazma-Italic.woff");
}

:root {
    --color-highlight: #ddb636;
    --color-background: #0f0f0f;
}

.logo {
    width: 100%;
}

h1, h2, h3, h4 {
    color: #e1c854;
    font-weight: 800;
    font-family: 'Blazma';
    margin-top: 0;
}

.neso-color {
    color: #FF2400;
}

.griss-color {
  color: #0080ff;
}

.encoded-color {
  color: #855cd6;
}

.main-color {
    color: var(--color-highlight);
}

footer {
    border-top: 2px solid #333;
    padding-top: 1em;
    text-align: center;
    margin: 1em 0;
}

html {
  background-color: var(--color-background);
}

nav {
    text-align: center;
    font-size: 1.25rem;
    padding: 0.5em 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-background);
}

body{
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Julia Mono', monospace;
    color: #E8E8E8;
    font-size: 1.1rem;
}

section {
    border-left: 2px solid #e1c854;
    padding-left: 1em;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1px;
    background: linear-gradient(90deg, #e1c85450 0%, #181818 2%, #0000 50%);
}

a {
    color: var(--color-highlight);
    text-decoration: none;
    background-color: #0000;
    transition: all 0.15s;
    border-radius: 3px;
    font-family: 'Blazma';
}

a:hover {
    background-color: var(--color-highlight);
    color: var(--color-background);
}

li {
  margin-bottom: 4px;
}

.highlight {
  font-family: 'Blazma';
  font-size: 1.25rem;
}

.centered-paragraph {
    text-align: center;
}
