<section>
    <h1>Проекты</h1>
    <p>Здесь вы найдете информацию о наших проектах вместе с их описанием и ссылками для более подробного ознакомления.</p>
    <p><a href="http://foxityteam-repo.i2p" class="highlight">Сайт</a> с исходниками наших проектов.</p>
    <p>P.S. проекты расположены в рандомном порядке.</p>
</section>

<section>
    <h3>Этот вебсайт</h3>

    <p>В принципе, про этот сайт мало что можно рассказать, да и вы сами можете полазить по нему и посмотреть всё что мы сделали)</p>
    <p>Можем сказать только то что сайт хостится на сервере у Unixource. </p>
    <p>Исходник лежит <a href="http://foxityteam-repo.i2p/Foxity/Foxity-site" class="highlight">здесь</a>.</p>
</section>

<section>
    <h3>Дискорд бот Modern KGB</h3>

    <p>Modern KGB - универсальный помощник на вашем сервере!</p>

    <p>Он имеет:</p>

    <ol>
        <li>Встроенный генератор маркова, создающий оригинальные сообщения на основе старых.</li>
        <li>Множество прикольных апи для развлечения.</li>
        <li>Возможность воспроизведения музыки в голосовых каналах.</li>    
    </ol>

    <p>Бот также отлично подходит для модерации сервера, т.к. в нём есть настраиваемая система варнов и команды для модерации.</p>

    <p>Бот активно разрабатывается и дорабатывается,
    </br>на данный момент в боте уже 10к строк кода и он весит 10 мегабайт!</p>

    <p><a href="https://discord.com/oauth2/authorize?client_id=1061907927880974406&permissions=8&scope=bot" class="highlight">Ссылка</a> 
        для приглашения бота на свой сервер.</p>
    <p>Исходник лежит <a href="http://foxityteam-repo.i2p/Foxity/KGB_Bot-discord" class="highlight">здесь</a>.</p>
    
</section>

<section>
    <h3>Библиотека для рисования Drapixcol</h3>

    <p>С её помощью вы сможете рисовать кодом, 
    </br>синтаксис очень простой и его легко выучить!</p>

    <p>Исходник, документация и примеры кода лежат <a href="http://foxityteam-repo.i2p/Foxity/Drapixcol" class="highlight">здесь</a>.</p>
</section>

</br> <h3 class="centered-paragraph">Следите за обновлениями проектов!</h3>