<section>
    <h1>Проекты</h1>
    <p>Здесь вы найдете информацию о наших проектах вместе с их описанием и ссылками для более подробного ознакомления.</p>
    <p><a href="https://github.com/Foxity-Team" class="highlight">Репозиторий</a> с кодом наших проектов.</p>
    <p>P.S. проекты расположены в хронологическом порядке.</p>
</section>

<section>
    <h3>Этот вебсайт</h3>

    <p>В принципе, про этот сайт мало что можно рассказать, да и вы сами можете полазить по нему и посмотреть всё что мы сделали)</p>

    <p>Можем сказать только то что сайт хоститься на сервере у Ивана и он имеет апи для перевода слов на родавский язык и сборник шуток, </br>
        <a href="/api/" class="highlight">Здесь</a> вы можете ознакомиться с документацией по апи.</p>
</section>

<section>
    <h3>Дискорд бот Modern KGB</h3>

    <p>Modern KGB - универсальный помощник на вашем сервере!</p>

    <p>Он имеет:</p>

    <ol>
        <li>Встроенный генератор маркова, создающий оригинальные сообщения на основе старых.</li>
        <li>Множество прикольных апи для развлечения.</li>
        <li>Возможность воспроизведения музыки в голосовых каналах.</li>    
    </ol>

    <p>Бот также отлично подходит для модерации сервера, т.к. в нём есть настраиваемая система варнов и возможность проведения опроса.</p>

    <p>Бот активно разрабатывается и дорабатывается, скоро появиться возможность пересылки сообщений из вконтакте в дискорд</p>

    <p>На данный момент в боте уже 30к строк кода и он весит 75 мегабайт!</p>

    <p><a href="https://discord.com/oauth2/authorize?client_id=1061907927880974406&permissions=8&scope=bot" class="highlight">Ссылка</a> 
        для приглашения бота на свой сервер.</p>
</section>

<section>
    <h3>Родавский язык</h3>

    <p>"Родавский язык" представляет собой проект, разработанный с целью создания славянского языка для общения, который был бы мелодичным и пригодным для пения. <p/>

    <p>В основе его грамматической структуры лежат элементы праславянского, русского, украинского, русинского, сербского и польского языка.</p>

    <p>В Родавском языке 21 гласная и 25 согласных, всего 46 букв. Грамматические особенности включают в себя звательный падеж и сохранение 
        рода у глаголов во всех временах. <br />
        Слова склоняются в 7 падежах, что придает языку богатство выражения.</p>

    <p> Благодаря своей уникальной грамматике и лексике, <br />
        "Родавский язык" становится эффективным средством для шифрования, что делает его интересным инструментом в различных контекстах, 
        от повседневного общения до сферы безопасности.</p>

    <p>На данный момент в языке есть 2500 слов которые включают в себя глаголы, существительные, прилагательные и куче других морфем!</p>

    <p><a href="https://docs.google.com/spreadsheets/d/1Ppa90Z3YUXEUmsAnzIEQrK-H6YslOUig/edit?usp=sharing&ouid=104321214655810951382&rtpof=true&sd=true" class="highlight">Ссылка</a>
        на список слов Родавского языка.</p>
</section>

<section>
    <h3>Язык программмирования Hellya</h3>

    <p>Этот язык используеться для того чтобы программировать изображения. </br>
       Этот язык очень простой, и каждый сможет его выучить.</p>

    <p>Он работает как библиотека к питону,</br>
       <a href="https://pypi.org/project/hellya/" class="highlight">Здесь</a> есть документация по этому языку.</p>
</section>

</br>
<h3 class="centered-paragraph">Следите за обновлениями проектов!</h3>
