<section>
    <h1>Контакты</h1>

    <p>Вы можете связаться с нами любым удобным вам способом!</p>
    <p>Официальный дискорд <a href="https://discord.gg/CDMaFC84JE" class="highlight">сервер</a>.</p>
    <p>Контакты Felix Rishar'a:</p>
    <ol>
        <li>Telegram: <a href="https://t.me/felix_rishar" class="felix-color felix-highlight">@Felix_rishar</a></li>
        <li>Discord: @Felix_rishar</li>
    </ol>
    <p>Контакты Grisshink'a:</p>
    <ol>
        <li>Telegram: <a href="https://t.me/grisshink" class="griss-color griss-highlight">@Grisshink</a></li>
        <li>Discord: @Grisshink, так же есть дискорд <a href="https://discord.gg/teyj3b4rDP" class="griss-color griss-highlight">сервер</a>.</li>
        <li>Mastodon: <a href="https://mastodon.ml/@Grisshink" class="griss-color griss-highlight">@Grisshink</a></li>
    </ol>
    <p>Контакты Unixource:</p>
    <ol>
        <li>Telegram: <a href="https://t.me/unixource" class="encoded-color encoded-highlight">@Unixource</a></li>
        <li>Почта: <a href="mailto:unixource@tuta.io" class="encoded-color encoded-highlight">unixource@tuta.io</a></li>
        <li>Mastodon: <a href="https://mastodon.ml/@unixource" class="encoded-color encoded-highlight">@Unixource</a></li>
    </ol>
    <p>Контакты Артона:</p>
    <ol>
        <li>Telegram: <a href="https://t.me/aryluneix000" class="aryluneix-color aryluneix-highlight">@Aryluneix000</a>, а так же <a href="https://t.me/ARYLUNEIX" class="aryluneix-color aryluneix-highlight">телеграмм канал</a>.</li>
        <li>Session Messenger: <a href="/static/Session_ID_aryluneix.txt" class="aryluneix-color aryluneix-highlight">Session ID</a></li>
    </ol>
</section>

<section>
    <h3>PGP Шифрование</h3>
    <p>Вы можете зашифровать свои сообщения используя PGP шифрование, и передавать их через различные средства связи (Чаще всего, через электронную почту).</p>
    <p>Крутая штука!)</p>
    <p><a href="/static/Felix-pub.asc" class="felix-color felix-highlight">Felix_Rishar E186 7E79 9053 3358 FAC9 9128 049D 8F8D</a></p>
    <p><a href="/static/Grisshink.asc" class="griss-color griss-highlight">Grisshink 839E A522 921B 8957 C346 1F44 2928 F0E0</a></p>
</section>
