    <h1>Пожертвования</h1>

    <p>Проекты разрабатываем мы в одиночку, но для их дальнейшего развития требуются дополнительные средства.</p>
    <p>Если у вас есть желание помочь, </br>вы можете задонатить нам на один из этих кошельков, </br>или же <a href="/contacts" class="highlight">написать нам</a> и предложить свою помощь.</p>
</section>

<section>
    <h3>Кошелёк Monero(XMR):</h3>
    <img id="pfp" src="/static/monero.png" />
    <p style="font-size: 8px;">45donatNyApfLNBT37YJeHJVyrB7pgPTuQeqpLmYJsJr3nguwWJynsq1CJmCLQvop4V5LdoEUfGcZ2Npm62mHzV7UvLwYXk</p>
</section>

<section>
    <h3>Кошелёк Quantum Resistent Ledger(QRL):</h3>
    <img id="pfp" src="/static/qrl.png" />
    <p style="font-size: 8px;">Q0105002779b9630092cb6926e0ee094b91ae217f7dcfdc2f20fa660ff09de44dac855b286c23ad</p>
</section>

