{% include 'logo.html' %}
<section>
    <h2>О компании:</h2>
    <p><span class="main-color highlight">Foxity Team</span> — небольшая, но высококвалифицированная и креативная команда из профессионалов. </br>
        Каждый из нас является экспертом в своей области.</p> 
    <p>Мы специализируемся в создании проектов, которые приносят пользу пользователям. 
       Наше упорство поддерживает стремление к достижению целей.</p>
    <p>Все проекты вы можете посмотреть на странице <a href="/projects">"Проекты"</a>.</p>
</section>

<section>
    <h3 class="felix-color">О Felix'e:</h3>
    <img style="float: right;" id="pfp" src="/static/felix.jpg" title="Аватарка взята с инета" />
    <p>Прив!</br>Я <span class="felix-color highlight">Felix</span>, или же <span class="felix-color highlight">Felix Rishar</span>.</p> 
    <p>Я программист, системный администратор, конлангер, художник, музыкант и фуррь. </p> 
    <p>Умею программировать на языках:</p>
    <ol>
        <li>Python (Tovarish)</li>
        <li>HTML (Middle)</li>
        <li>JavaScript (Middle)</li>
    </ol>
    <p>В свободное время занимаюсь рисованием в Krita на графическом планшете, а музыку пишу в FL Studio. </br>
    Говорю на русском, английском и родавском.</p>
</section>

<section>
    <h3 class="griss-color">О Grisshink'e:</h3>
    <img style="float: right;" id="pfp" src="/static/grisshink.png" title="Аватарка была нарисована Grisshink'oм">
    <p>Привет, меня зовут <span class="griss-color highlight">Grisshink</span>.</p> 
    <p>Я программист и системный администратор Linux. Знаю языки программирования:</p> 
    <ol>
        <li>C (Senior)</li>
        <li>Python (Senior)</li>
        <li>Rust (Senior)</li>
        <li>Bash (Middle)</li>
        <li>TypeScript (Middle)</li>
    </ol>
    <p>Кроме того, увлекаюсь графикой в Scratch, Gimp и Inkscape, а также создаю музыку в beepbox. </br>
        Знаю английский и русский язык.</p>
</section>

<section>
    <h3 class="encoded-color">Об Unixource:</h3>
    <a href="https://www.youtube.com/watch?v=a8Do1AOPfHo"><img style="float: right;" id="pfp" src="/static/unixource.jpg"></a>
    <p>Приветствую, пользователь клирнета!</br><span class="encoded-color highlight">Unixource</span> на связи.</p>
    <p>Программирую на:</p>
    <ol>
        <li>Python (Middle)</li>
        <li>JavaScript (Middle)</li>
    </ol>
    <p>Увлекаюсь Inkscape-ом. </br>
        Опенсоурсер и любитель децентрализованных сетей. </br>
        Говорю на русском.</p>
    <p>Фанат Mindustry</p>
</section>

<section>
    <h3 class="aryluneix-color">Об Aryluneix:</h3>
    <img style="float: right;" id="pfp" src="/static/aryluneix.png">
    <p>Салют!<br />
        Я <span class="aryluneix-color highlight">Aryluneix</span>.</p>

    <p>Рисую в программах:</p>

    <ol>
        <li>SAI 2 (Senior)</li>
        <li>Krita (Middle)</li>
        <li>Inkscape (Junior)</li>
    </ol>

    <p>Умею рисовать в стилях мультипликационном, плоском, пиксельном и в стиле полуреализма.</p>
</section>
