<section>
    <h1>Контакты</h1>

    <p>Вы можете связаться с нами любым удобным вам способом!</p>

    <p>Официальный дискорд <a href="https://discord.gg/CDMaFC84JE" class="highlight">сервер</a>.</p>

    <p>Контакты Lin'ы Torovoltas:</p>
    <ol>
        <li>Discord: <a class="lina-color lina-highlight">@lina_torovoltas</a></li>
        <li>Gmail mail: <a href="mailto:linatorovoltas@gmail.com" class="lina-color lina-highlight">linatorovoltas@gmail.com</a></li>
        <li>I2P mail: <a href="mailto:linatorovoltas@mail.i2p" class="lina-color lina-highlight">linatorovoltas@mail.i2p</a></li>
    </ol>

    <p>Контакты Grisshink'a:</p>
    <ol>
        <li>Telegram: <a href="https://t.me/grisshink" class="griss-color griss-highlight">@Grisshink</a></li>
        <li>Discord: <a class="griss-color griss-highlight">@Grisshink</a>, так же есть дискорд <a href="https://discord.gg/teyj3b4rDP" class="griss-color griss-highlight">сервер</a>.</li>
        <li>Mastodon: <a href="https://mastodon.ml/@Grisshink" class="griss-color griss-highlight">@Grisshink</a></li>
    </ol>

    <p>Контакты Unixource:</p>
    <ol>
        <li>Matrix: <a class="encoded-color encoded-highlight">unixource@envs.net</a></li>
        <li>Tuta mail: <a href="mailto:unixource@tuta.io" class="encoded-color encoded-highlight">unixource@tuta.io</a></li>
    </ol>

    <p>Контакты Ари:</p>
    <ol>
        <li>Telegram (личка): <a href="https://t.me/@aryluneix000" class="aryluneix-color aryluneix-highlight">@aryluneix000</a></li>
        <li>Telegram (канал): <a href="https://t.me/ARYLUNEIX" class="aryluneix-color aryluneix-highlight">ARYLUNEIX</a></li>
        <li>DeltaChat: <a class="aryluneix-color aryluneix-highlight">lnjitvxt7@nine.testrun.org</a></li>
        <li>Mastodon: <a href="https://socel.net/@aryluneix" class="aryluneix-color aryluneix-highlight">@aryluneix</a></li>
    </ol>

    <p>Контакты ArduCat'a:</p>
    <ol>
        <li>Mastodon: <a href="https://mastodon.ml/@arducat" class="arducat-color arducat-highlight">@arducat</a></li>
        <li>Bluesky: <a href="https://bsky.app/profile/arducat.bsky.social" class="arducat-color arducat-highlight">arducat.bsky.social</a></li>
    </ol>
</section>

<section>
    <h3>PGP Шифрование</h3>
    <p>Вы можете зашифровать свои сообщения используя PGP шифрование, и передавать их через различные средства связи (Чаще всего, через электронную почту).</p>
    <p>Крутая штука!)</p>
    <p><a href="/static/others/Grisshink.asc" class="griss-color griss-highlight">Grisshink 839E A522 921B 8957 C346 1F44 2928 F0E0</a></p>
</section>
