    <h1>Пожертвования</h1>

    <p>Проекты разрабатываем мы в одиночку, но для их дальнейшего развития требуются дополнительные средства.</p>
    <p>Если у вас есть желание помочь, </br>вы можете задонатить нам на один из этих кошельков, </br>или же <a href="/contacts" class="highlight">написать нам</a> и предложить свою помощь.</p>
</section>

<section>
    <h3>Кошелёк Monero(XMR):</h3>
    <img id="pfp" src="/static/pictures/monero.png" />
    <p style="font-size: 8px;">45nGsyRzwPM79XGTWrdNpj4KLTXSCm7EaHhGMZ5w4S1VYceCwMepwCGce323Qid9WyWvjHEche3xegf2z67SaXTSL5yN1mq</p>
</section>

<section>
    <h3>Кошелёк Bitcoin(BTC):</h3>
    <img id="pfp" src="/static/pictures/bitcoin.png" />
    <p style="font-size: 8px;">bc1qpfwu98ay9mergfkcelwhw7xu6sdkhk3klnnvms</p>
</section>

