{% include 'logo.html' %}
<section>
    <h2>О компании:</h2>
    <p><span class="main-color highlight">Foxity Team</span> — небольшая, но высококвалифицированная и креативная команда из профессионалов. </br>
        Каждый из нас является экспертом в своей области.</p> 
    <p>Мы специализируемся в создании проектов, которые приносят пользу пользователям. 
       Наше упорство поддерживает стремление к достижению целей.</p>
    <p>Все проекты вы можете посмотреть на странице <a href="/projects">"Проекты"</a>.</p>
</section>

<section>
    <h3 class="lina-color">О Lin'e Torovoltas:</h3>
    <img style="float: right;" id="pfp" src="/static/pictures/lina.png"/>
    <p>Прив! Я <span class="lina-color highlight">Lina Torovoltas</span>.</p> 
    <p>Я программист, композитор, системный администратор, художник и фуррь :3 </p> 
    <p>Умею программировать на языках:</p>

    <ol>
        <li>Python (Tovarish)</li>
        <li>С (Middle)</li>
        <li>Assembly (FASM) (Junior)</li>
        <li>HTML/CSS/JS (Senior)</li>
        <li>Bash (Junior)</li>
    </ol>

    <p>Кроме программирования я администратор, 
    <br> работаю с <b>Debian</b> и <b>Arch</b>. 
    </br>В свободное время, люблю рисовать на граф. планшете 
    </br>в <b>Krita</b> и сочинять музыку в <b>FL Studio</b></p>

    <p>Знаю русский и английский.</p>
</section>

<section>
    <h3 class="griss-color">О Grisshink'e:</h3>
    <img style="float: right;" id="pfp" src="/static/pictures/grisshink.png">
    <p>Привет, меня зовут <span class="griss-color highlight">Grisshink</span>.</p> 

    <p>Я программист и системный администратор Linux. Знаю языки программирования:</p> 

    <ol>
        <li>C (Senior)</li>
        <li>Python (Senior)</li>
        <li>Rust (Senior)</li>
        <li>Bash (Middle)</li>
        <li>TypeScript (Middle)</li>
    </ol>

    <p>Кроме того, увлекаюсь графикой в Scratch, Gimp и Inkscape, а также создаю музыку в beepbox. 
    </br>Знаю английский и русский язык.</p>
</section>

<section>
    <h3 class="encoded-color">Об Unixource:</h3>
    <a href="https://www.youtube.com/watch?v=a8Do1AOPfHo"><img style="float: right;" id="pfp" src="/static/pictures/unixource.png"></a>
    <p>Привет, я <span class="encoded-color highlight">Unixource</span>!</p>

    <p>Недодизайнер, немного сисадмин и программист на:</p>

    <ol>
        <li>Python (Middle)</li>
        <li>Rust (Middle)</li>
        <li>Go (Junior)</li>
    </ol>

    <p>Поигрываю в Minecraft, Mindustry и Luanti. </br> Знаю английский, русский и немецкий.</p>
</section>

<section>
    <h3 class="aryluneix-color">Об Aryluneix:</h3>
    <img style="float: right;" id="pfp" src="/static/pictures/aryluneix.png">
    <p>Хей... я <span class="aryluneix-color highlight">ARYLUNEIX</span>...</p>
    <p>Художник, графический дизайнер и иллюстратор.</p>

    <p>Освоение программ:</p>

    <ol>
        <li>Krita (уровень 70/100)</li>
        <li>Inkscape (уровень 30/100)</li>
        <li>Shortcut (уровень 40/100)</li>
        <li>Blender (уровень 5/100)</li>
    </ol>

    <p>Могу нарисовать иллюстрацию или промо-арт для вашего проекта. 
    </br>Сделать стильную презентацию в виде видео или отдельно слайдами. </p>
</section>

<section>
    <h3 class="arducat-color">Об ArduCat'e:</h3>
    <img style="float: right;" id="pfp" src="/static/pictures/arducat.png"></a>
    <p>Даров, я <span class="arducat-color highlight">ArduCat</span>!</p>
    
    <p>Программирую на:</p>
    
    <ol>
        <li>Python (Middle)</li>
        <li>C++ (Junior+)</li>
        <li>Rust (Junior)</li>
    </ol>
    
    <p>Сижу на Arch Linux, в свободное время играю в Minecraft, программирую всякую дичь, экспериментирую. </p>
</section>