<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/foxity-logo.svg" type="image/svg+xml">
        <link rel="stylesheet" href="/static/style.css">
        <title>Foxity Team</title>
    </head>
    <body>
        <nav>
            <a href="/"><img src="/static/foxity-logo.svg" alt="Лого Foxity"></a>
            <div class="nav-links">
                <a href="/news" title="Все новости, связанные c проектами компании.">новости</a>
                <a href="/contacts" title="Вы можете связаться с нами.">контакты</a>
                <a href="/projects" title="Не слишком ли много их?)">проекты</a>
                <a href="/donate" title="Помочь проекту">пожертвования</a>
            </div>
        </nav>

        <main>
            {{ body|safe }}
        </main>

        <footer>
            Foxity Team (c) <a href="/licensing" class="link-style-2">Лицензии</a>
        </footer>
    </body>

</html>